:root {
    --green: #65AE75;
    --red: #EE8052;
    --blue: #59B3E5;
    --dark: #3D393D;
    --white: #FAF9EA;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FAF9EA;
    font-family: 'inter',  -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* font-size: 1; */
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.svg-ctr {
    height: 1000px;
    width: 1000px;;
}

#map {
    transition: all 2s ease-in-out;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
}

.name_panel{
    padding: 24px 28px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    color: #3D393D;
}

.links_panel {
    padding: 0px 19.5px;
}

.link_list {
    /* list-style-type: none; */
    padding: 0;
}

.link_button {
    padding: 0 24px 0 30px;
    font-family: 'inter',  -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #3D393D;
    font-weight: 600;
    font-size: 1.5em;
    text-decoration: none;
}

.link_button:hover {
    color: #F2C94C;
    text-decoration: underline;
}

.about, .contact {
    padding: 0 42px;
    font-family: 'inter',  -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: fit-content;
}

.about > h1 {
    color: var(--green);
}

.about > p {
    color: var(--dark);
    width: 400px;
    padding: 20px 1px;
    font-weight: 500;
    text-align: justify;
    /* font-weight: 600; */
    font-size: 1.1em;
}

.about > .abt-ctr {
    /* float: right; */
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
}

/* .about > * > a {
    display: block;
    margin: 6px 1px;
    font-weight: 600;
    font-size: 1.1em;
    color: var(--green);
} */

.about > a:hover {
    text-decoration: none;
}

.button {
    display: block;
    width: fit-content;
    padding: 8px 16px;
    border-radius: .25em;
    margin: 6px 0;    
    cursor: pointer;
    /* float: right; */

}

.button.to_home {
    background-color: #2d292dcc;

}

.button.to_home:hover {
    background-color: #2d292ddd;
}

.link {
    display: block;
    margin-top: 10px;
    color: #2b8d76;
    font-family: 'basier_circle_monoregular', "Aktiv-Grotesk", monospace;
    font-weight: 100;
    font-size: 14px;
}

.link:hover {
    text-decoration: none;
}

.link-container {
    position: absolute;
    right: -12px;
    bottom: 14px;
    float: right;
}


.green {
    background-color: var(--green);
}

.green:hover {
    background-color: #528f5f;
}

.blue {
    background-color: var(--blue);
}

.button > a {
    color: white;
    font-weight: 600;
    font-size: 1em;
    text-decoration: none;
}


.contact {
    padding-top: 20px;
    color: var(--blue);
}

.contact > h1 {
    /* font-weight: 600; */
    margin-bottom: 12px;
}

.contact > p {
    color: var(--dark);
    padding: 12px 1px 16px 0;
    font-weight: 500;
    /* text-align: justify; */
    /* font-weight: 600; */
    font-size: 1.1em;}

.contact > input, .contact > textarea {
    font-family: 'inter',  -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 100%;
    padding: 8px 16px;
    /* border-radius: .25em; */
    border: 5px solid var(--blue);
    background-color: var(--white);
    margin: 6px 0;
    font-size: 1em;
}

.contact > input:focus, .contact > textarea:focus {
    border: 5px solid #75badf;
    color: var(--dark);
    outline: none ;
}

.contact > input {
    color: var(--dark);
    font-weight: 500;
}

.contact > textarea {
    padding-top: 12px;
    font-weight: 500;
}

.contact-ctr {
    display: flex;
    justify-content: space-between;
    margin-top: 6px;
    /* flex-direction: column;
    align-items: flex-end;
     */
}

.projects {
    /* background-color: #F2C94C; */
    width: 400px;
    height: 10000px;
    overflow: hidden;
}

.projects-content {
    height: 500px; /* Adjust to your needs */
    overflow-y: hidden;
}

.projects-list {
    list-style-type: none;
    list-style-position: inside;
}

.title-container, .img-container, .desc {
    margin-left: 50px;
}


li > h1 {
    color: var(--red);
}

.subtitle {
    color: #3D393DCC;
    font-weight: 600;
}

.link-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.link-container>a {
    text-decoration: none;
    color: white;
    background-color: var(--dark);
    /* padding-top: 3px; */
    /* background-image: url("./logo.svg");
    background-size: 16px;
    background-position: center;
    background-repeat: no-repeat; */
    align-items: center;
    justify-content: center;
    display: flex;
    width: max-content;
    padding: 8px;
}

.link-container>a:hover {
    background-color: #2d292d;
}

.link-container>a>img {
    display: block;
    height: 20px;
    padding: 0 4px 0 0;
}

.link-container>a>p {
    display: block;
    padding: 0 4px 0 4px;
}

.title-container {
    position: relative;
}
.link-container>a>img {
    display: block;
    height: 20px;
    padding: 0 4px 0 0;
}

img {
    width: 100%;
    height: 100%;
    z-index: 100;
    /* border: 1px solid black; */
}

.img-container {
    z-index: 10;
    border: 1px solid var(--c-display);
    fill: #0F111A;
    background-color: #0F111A;
    padding: 0%;
    margin-bottom: 30px;
    margin-top: 20px;
    width: 300px;
    height: 169px;
    position: relative;
}

.img-container > img {
    border: 6px solid var(--red);
}

.code {
    margin: 4px 0 8px 0;
    color: #3d312dcc  ;
}

.desc { 
    margin-top: 40px;
    margin-bottom: 70px;
    color: var(--dark);
    font-weight: 600;
}

.proj-button-ctr {
    display: flex;
    justify-content: flex-end;
    margin-top: 6px;
}

.proj-button-ctr > .to_home {
    margin-right: 50px;
    margin-bottom: 30px;
    padding: 0;
    background: none;
}

.proj-button-ctr > .to_home > a {
    color: #2d292daa;
    font-weight: 800;
    font-size: 1.2em;
}

.proj-button-ctr > .to_home > a:hover {
    color: #2d292ddd;
    background: none;
}

.proj-button-ctr > .to_home:hover {
    background: none;
}


li::before {
    content: ''; /* Required for pseudo-elements */
    position: absolute;
    left: -47px; /* Adjust as needed to align the bullet */
    top: 50%; /* Center the bullet vertically */
    transform: translateY(-50%); /* Fine-tune the vertical alignment */
    width: 18px; /* Size of the bullet */
    height: 18px; /* Size of the bullet */
    background-color: var(--red); /* Bullet color */
    border-radius: 50%; /* Make it a circle */
    border: 6px solid var(--white); /* Green outline */

}

#projectsObj-fO > div {
    position: fixed;
}

@media screen and (max-width: 600px) {

    .about {
        padding: 0;
    }

    .about > h1 {
        padding-left: 36px;
    }

    .about > p {
        width: 280px;
        padding: 20px 1px 30px 36px;
        text-align: start;
        font-size: 1.2em;
    }

    .about > a {
        font-size: 1.2em;
        width: 100%;
    }

    .projects {
        width: 360px;
    }

    .proj-button-ctr > .to_home {
        margin-right: 4px;
    }
}
