@import url('https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');:root {
    --c-display: rgb(30, 30, 88);
}

@font-face {
    font-family: aktiv;
    src: url(aktiv.woff);
}

@font-face {
    font-family: aktiv-reg;
    src: url(aktiv-reg.woff);
}

@font-face {
    font-family: aktiv-reg;
    src: url(aktiv-reg.woff);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: radial-gradient(circle at top left, var(--c-display), #111111);
    overflow-x: hidden;
    background-color: var(--c-display);
    /* font-weight: bold; */
}

main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.name-container {
    display: block;
    background-color: white;
    height: min-content;
    padding: 20px 32px 20px 16px;
    /* outline: 1px solid white;
    outline-offset: 2px; */
    width: 320px;
}

.visible-border::before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 8px;
    right: -8px;
    top: 10px;
    bottom: -8px;
    border: 1px solid white;
    /* border-right-width:4px; */
    /* border-left-width:5px; */
}

.name {
    display: block;
    color: var(--c-display);
    text-align: left;
    font-family: "Spectral", aktiv-reg;
    font-weight: 600;
    line-height: 1.25em;
}

.subtitle {
    padding-top: 10px;
    padding-bottom: 10px;
    color: #3B3B3B;
    font-family: 'basier_circle_monoregular', "Aktiv-Grotesk", monospace;
    font-weight: 100;
    font-size: 14px;
}

.title-container>p.subtitle {
    padding-top: 0;
    padding-bottom: 20px;
}

.nav-bar {
    padding-top: 14px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    width: 320px;
}

.nav {
    color: #ffffff;
    text-align: center;
    padding: 4px 20px 0 0;
    font-size: 16px;
    text-align: center;
    text-decoration: underline;
    display: block;
}

.link {
    display: block;
    margin-top: 10px;
    color: #1e8add;
    font-family: 'basier_circle_monoregular', "Aktiv-Grotesk", monospace;
    font-weight: 100;
    font-size: 14px;
}

.p1-2 {
    display: none;
    color: white;
    position: absolute;
    /* margin: 20px; */
    top: -60px;
}

.p1-3 {
    display: none;
    color: white;
    position: absolute;
    top: -40px;
}

.b {
    display: block;
}

br {
    display: block;
    margin-top: 14px;
}

.p2 {
    display: none;
}

img {
    width: 100%;
    height: 100%;
    z-index: 100;
    /* border: 1px solid black; */
}

.img-container {
    z-index: 10;
    border: 1px solid var(--c-display);
    fill: #0F111A;
    background-color: #0F111A;
    padding: 0%;
    margin-bottom: 30px;
    width: 300px;
    height: 169px;
    position: relative;
}

.img-container::before {
    content: "";
    position: absolute;
    z-index: -100;
    left: 6px;
    right: -6px;
    top: 6px;
    bottom: -6px;
    border: 1px solid #0F111Add;
}

.code {
    display: block;
    /* margin-top: 12px; */
    padding: 12px 0;
    color: #1d1d56;
    font-family: 'basier_circle_monoregular', "Aktiv-Grotesk", monospace;
    font-weight: 100;
    font-size: 14px;
}

.projects {
    display: flex;
}

.project {
    width: min-content;
    padding: 0 48px 0 0;
    margin-bottom: 30px;
}

.project>.subtitle strong {
    font-family: 'basier_circle_monomedium', "Aktiv-Grotesk", monospace;
}

.desc {
    font-family: "Spectral", "Aktiv-Grotesk", monospace;
    color: var(--c-display);
    width: 300px;
    text-align: justify;
    padding-top: 2px;
}

br {
    margin: 40px;
}

.interaction-container {
    display: flex;
    margin-top: 20px;
}

.link-container {
    position: absolute;
    right: -12px;
    bottom: 12px;
    float: right;
}

.link-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.link-container>a {
    text-decoration: none;
    color: white;
    background-color: rgba(30, 30, 88, 0.975);
    /* padding-top: 3px; */
    /* background-image: url("./logo.svg");
    background-size: 16px;
    background-position: center;
    background-repeat: no-repeat; */
    align-items: center;
    justify-content: center;
    display: flex;
    width: max-content;
    padding: 8px;
}

.link-container>a>img {
    display: block;
    height: 20px;
    padding: 0 4px 0 0;
}

.link-container>a>p {
    display: block;
    padding: 0 4px 0 4px;
}

.bottom {
    display: block;
    position: absolute;
    bottom: 0px;
    width: 100%;
    /* background-color: white; */
    padding: 16px 0;
}

.right {
    right: 16px;
}


.inline {
    display: inline-block;
    font-family: "Aktiv-Grotesk", monospace;
}

.name-container {
    overflow-x: auto;
    overflow-y: none;
}

.name-container::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

.name-container::-webkit-scrollbar-track {
    background-color: rgba(224, 224, 224, 0.1);
    border-radius: 0;
}

.name-container::-webkit-scrollbar-thumb {
    background-color: #acacac;
    border-radius: 0;
}


.title-container > .desc {
    display: none;
}


@media (min-width: 1000px) {
    .name-container {
        overflow-x: none;
        overflow-y: auto;
    }

    .projects {
        display: block;
        margin-top: 20px;
    }

    .project {
        display: flex;
        /* flex-wrap: wrap; */
        /* margin: 0 0 0 20px; */
        margin: 80px 80px;
        /* flex-direction: column; */
        /* width: 800px; */
    }
    
    .bottom {
        position: relative;
        padding-bottom: 0;
    }

    .title-container {
        float: left;
        /* order: -2; */
        margin-right: 20px;
    }
    
    .img-container {
        /* float: right; */
        flex-break: after;

    }

    .title-container >.desc {
        display: block;
        padding-right: 40px;
        /* osrder: -1; */
    }

    .img-container > .desc {
        display: none;
    }

    .subtitle, .desc {
        font-size: 18px;
    }

    .nav {
        font-size: 18px;
    }

    .code {
        font-size: 18px;
    }

    .link {
        font-size: 18px;
    }
 
    
    .desc {
        /* text-align: start; */
    }

    .title-container > .subtitle {
        width: 300px;
    }
}